body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex: 1 1 0;
    padding: 10px;
    justify-content: space-between;

}

.logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.logo {
    max-height: 100px;
    width: auto;
}

.logo-text {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.header-links {
    text-decoration: none;
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 10px;
    align-items: center;

}

.hero {
    background-color: #1F2937;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
}