body {
    display: flex;
    flex-direction: column;
    font-family: 'Playfair Display' 'Baskerville' Georgia, 'Times New Roman', Times, serif;
    min-height: 100vh;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex: 1 1 0;
    padding: 10px 100px;
    justify-content: space-between;
    

}

.logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.logo {
    max-height: 100px;
    width: auto;
}

.logo-text {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.header-links {
    text-decoration: none;
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 10px;
    align-items: center;

}

.hero {
    background-color: #1F2937;
    display: flex;
    padding: 100px;
    gap: 50px;
    
}

.hero-left-container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
            
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
    border: 0;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 10px;
   
}

.hero-button {
  background-color: #3882F6;
  color: #E5E7EB;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 10px;
  border-style: none;

  
}

.hero-image {
    max-width: 50%;
    height: auto;
    
}


.key-features-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.key-features-container {
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
    padding-left: 150px;
    padding-right: 150px;
    flex-wrap: wrap;    
        
}

.key-features-subcontainer {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    height: auto;
    flex-wrap: wrap;
    margin: 0;
   
}
.key-features-image {
    border-style: solid;
    border-width: 10px;
    border-color: #3882F6;
    border-radius: 10px;
    max-height: 200px;
    width: auto;
}

.key-features-head {
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

.key-features-text {
    font-size: 18px;
    margin: 0;
    text-align: center;

}

.testimonial-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 250px;
    padding-right: 200px;
   
}

.testimonial-quote {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.customer-name {
    font-size: 25px;
    font-weight: 700;
    color: #1F2937;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

